@model IEnumerable<Farmacia.Models.Droga>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Concentracion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMinimo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaximo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequiereReceta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaAlta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaBaja)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Concentracion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockMinimo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockMaximo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequiereReceta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Activo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaAlta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaBaja)
                </td>
                <td>
                    <a asp-action="ObtenerProductosPorDroga" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm"> Productos Rel</a>
                    <a asp-controller="Drogas" asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm">Detalles</a>
                    <a asp-controller="Drogas" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning btn-sm">Editar</a>
                    <a asp-controller="Drogas" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
