@model IEnumerable<Farmacia.Models.Droga>

@{
    ViewData["Title"] = "Index";
}

<h1>Drogas Genericas</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped" id="example">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Concentracion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMinimo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaximo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequiereReceta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaAlta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaBaja)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Concentracion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockMinimo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockMaximo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequiereReceta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Activo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaAlta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaBaja)
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Vertical radio toggle button group">
                    <a asp-action="ObtenerProductosPorDroga" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm">Productos</a>
                    <a asp-controller="Drogas" asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm">Detalles</a>
                    </div>
                    <div class="btn-group" role="group" aria-label="Vertical radio toggle button group">
                    <a asp-controller="Drogas" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning btn-sm">Editar</a>
                    <a asp-controller="Drogas" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm">Eliminar</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json'
                },
                pageLength: 10,
                order: [[0, 'desc']] // Ordena por la columna Fecha de forma descendente
            });
        });
    </script>
}