@model List<(Farmacia.Models.Producto producto, int cantidadVendida)>

<h2>Reporte de Ventas y Consumo por Producto</h2>

<form method="get" asp-action="ReporteVentasPorProducto" class="row g-3 mb-3">
    <div class="col-auto">
        <label for="desde" class="form-label">Desde</label>
        <input type="date" class="form-control" id="desde" name="desde" value="@ViewBag.FechaDesde" />
    </div>
    <div class="col-auto">
        <label for="hasta" class="form-label">Hasta</label>
        <input type="date" class="form-control" id="hasta" name="hasta" value="@ViewBag.FechaHasta" />
    </div>
    <div class="col-auto align-self-end">
        <button type="submit" class="btn btn-primary">Filtrar</button>
    </div>
</form>

<table class="table table-striped" id="tablaReporte">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad Vendida</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.producto.NombreComercial @item.producto.PresentacionCompleta</td>
                <td>@item.cantidadVendida</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#tablaReporte').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json'
                },
                pageLength: 10
            });
        });
    </script>
}
